spring:
  datasource:
    url: jdbc:mysql://localhost:3306/books_db
    username: root
    password: Ramazan007&
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    database: mysql
    show-sql: true
    properties:
      hibernate:
        format_sql: true